<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="header">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <div class="sticky-top">
    <div class="container-fluid pt-3 bg-dark text-white">

        <h1 th:text="#{welcome.title}"></h1>

        <div class="d-flex flex-row">
            <div class="p-2">
                <button type="button" class="btn btn-info" onclick="window.location.href = 'home'">Home</button>
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-info" onclick="window.location.href = 'fileSelect'">File selection</button>
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-info" onclick="window.location.href = 'help'">Help</button>
            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</div>

<div th:fragment="footer">
    <div class="jumbo text-center" id="footer">
        <div class="pt-3 bg-dark text-white" style="height: 100px">
            &copy; 2020 Fitbit Insight+. <br>
            Fitbit Insight+ has no official affiliation to Fitbit, Inc.
        </div>
    </div>
</div>


</body>
</html>