<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div th:insert="~{header :: header}"></div>

    <div class="panel-group" id="accordion" style="padding-left: 70px; padding-top: 100px; padding-bottom: 30%">
                <li class="panel-title" style="font-size: 30px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><span th:text="#{howtodownload.text}"></span></a>
                </li>
                <div id="collapse1" class="panel-collapse collapse mb-0">
                    <div class="panel-body">
                        <ul><span th:text="#{dwnld1.text}"></span><img src="images/settingsgear.png" alt = 'Example of the settings icon' /></ul>
                        <ul><span th:text="#{dwnld2.text}"></span></ul>
                        <ul><span th:text="#{dwnld3.text}"></span><img src="images/dataexport+.png" alt = 'Example of the data export button' /></ul>
                        <ul><span th:text="#{dwnld4.text}"></span><img src="images/requestdata.png" alt = 'Example of the request data button' /></ul>
                        <ul><span th:text="#{dwnld5.text}"></span></ul>
                        <ul><span th:text="#{dwnld6.text}"></span></ul>
                        <ul><span th:text="#{dwnld7.text}"></span></ul>
                    </div>
                </div>
                <div class="panel-heading">
                    <li class="panel-title" style="font-size: 30px">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><span th:text="#{howtouseFS.text}"></span></a>
                    </li>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul><span th:text="#{FS1.text}"></span><img src="images/browsebutton.png" alt = 'Example of the browse button' /></ul>
                        <ul><span th:text="#{FS2.text}"></span><br></ul>
                        <ul><span th:text="#{FS3.text}"></span><br></ul>
                    </div>
                </div>
                <div class="panel-heading">
                    <li class="panel-title" style="font-size: 30px">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span th:text="#{helpgraphs.text}"></span></a>
                    </li>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <ul><span th:text="#{AvgHrHelp.text}" style="white-space: pre-wrap"></span><br></ul>
                    <ul><span th:text="#{sleepBarStackHelp.text}" style="white-space: pre-wrap"></span><br></ul>
                    <ul><span th:text="#{stepsHelp.text}" style="white-space: pre-wrap"></span><br></ul>
                    <ul><span th:text="#{HrDayHelp.text}" style="white-space: pre-wrap"></span><br></ul>
                    <ul><span th:text="#{sleepStagesHelp.text}" style="white-space: pre-wrap"></span><br></ul>
                </div>
            </div>

<div th:insert="~{header :: footer}"></div>


</body>
</html>