<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Results</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<div th:insert="~{header :: header}"></div>

<button data-toggle="collapse" data-target="#demo" style="padding: 2px">Show uploaded files</button>
<div class="row" style="padding-left: 20px; padding-right: 20px" >

    <div id="demo" class="collapse">
        <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 280px; max-height: 400px;">
            <ul class="list-group"  th:each="data: ${FileName}">
                <li class="list-group-item" th:text="${data}">Your uploaded files could not be found...</li>
            </ul>
        </div>
    </div>

    <div class="col">
        <div class="container-fluid rounded p-3 my-3 text-white border" style="background-color:lightgray; max-width: 450px; max-height: 450px">
            <canvas id="avgRates" width="150" height="150"></canvas>
        </div>
    </div>

    <div class="col">
        <div class="container-fluid rounded p-3 my-3 text-white border" style="background-color:lightgray; max-width: 450px; max-height: 450px">
            <canvas id="sleepProc" width="300" height="300"></canvas>

        </div>
    </div>

    <div class="col">
        <div class="container-fluid rounded p-3 my-3 text-white border" style="background-color:lightgray; max-width: 450px; max-height: 450px">
            <canvas id="StepsChart" width="300" height="300"></canvas>
        </div>
    </div>
</div>


<div class="row" style="padding-left: 20px; padding-right: 20px">
    <div class="col-sm-2" style="padding-left: 5%; padding-top: 3%">

        <select id="selectHeartDate"></select>

        <button id="addSelectHeartDay">Add selected day</button>
        <br>
        <button id="removeHeartDay">Remove selected day</button>

    </div>
    <div class="col-lg-10">
        <div class="container rounded p-3 my-3 text-white border" style="background-color:lightgray; width: 100%;">
            <canvas id="canvas" width="450" height="500"></canvas>
        </div>
    </div>

</div>

<div class="row" style="padding-left: 20px; padding-right: 20px">
    <div class="col-sm-2" style="padding-left: 5%; padding-top: 3%">
        <select id="selectDate"></select>
        <button id="addSelectData">Add selected day</button>
        <br>
        <button id="removeSleepData">Remove day</button>
    </div>
    <div class="col-lg-10">
        <div class="container rounded p-3 my-3 text-white border" style="background-color:lightgray; width: 100%;">
            <canvas id="sleepFlow" width="450" height="500"></canvas>
        </div>
    </div>

</div>

<div th:insert="~{header :: footer}"></div>

<script src="../../js/AltitudeChart.js"></script>

<script src="../../js/LineChart.js"></script>

<script src="../../js/AvgHeartRateChart.js"></script>

<script src="../../js/stepsChart.js"></script>

<script src="../../js/singleDayHeartRate.js"></script>

<script src="../../js/SleepChart.js"></script>

<script src="../../js/SleepFlowChart.js"></script>


</body>

</html>