div.a {
    border: 1px solid black;
}

li {
    padding: 0;
    margin: 0;
}

ul {
    max-height: 200px;
    padding: 0;
    margin: 0;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.aligned {
    padding-left: 50px;
}

#footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

html,body {
    height: 100%;
}